{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "jasmine": true,
        "mocha": true,
        "protractor": true,
        "jquery": true
    }
}